body {
  font-family: 'Playfair Display', serif;
}
header {
  font-family: Arial, sans-serif; 
}


header {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

header img {
  height: 60px;
}

header h1 {
  flex-grow: 1;
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

nav a.activo {
  color: #007bff;
}

main {
  padding: 40px;
}

main h2 {
  margin-bottom: 30px;
}

.plato {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 60px;               
  margin-bottom: 60px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left; 
}



.plato img {
  width: 240px;
  height: 160px;       
  object-fit: cover;   
  border-radius: 10px;
}
.plato h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.plato p {
  font-size: 18px;
  line-height: 1.5;
}

.bienvenida {
  background: url('../img/fondo-bar.jpg') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bienvenida p {
  color: white;
  font-size: 42px; 
  max-width: 1000px;
  text-align: center;
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
}
.recuadro {
  background-color: #a78b85;
  padding: 30px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 1100px;
}
